fastapi
uvicorn
python-dotenv
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
langchain
langchain-core
langchain-openai
langchain-community
langchain-text-splitters
openai
chromadb
pypdf
tiktoken
python-multipart
docx2txt
